<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-mypage</title>

    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="register.css" />
    <script src="register.js" type="module" defer></script>
  </head>

  <body>
    <section>
      <div class="user-info">
        <div id="userInfoEmail">이메일</div>
        <ul>
          <li id="userInfoName"></li>
          <li id="userInfoPhone"></li>
          <li id="userInfoAddress"></li>
        </ul>
      </div>
    </section>
    <!-- 유저 정보 변경(Form) -->
    <div class="login-form-container">
      <form class="box login-form-box" id="loginForm">
        <p class="title is-5 has-text-info">회원 정보 수정 페이지</p>
        <div class="field">
          <label class="label" for="emailInput">이름</label>
          <div class="control">
            <input class="input" id="nameInput" type="text" autocomplete="on" />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordInput">비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordInput">새 비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="newPasswordInput"
              type="password"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordInput">새 비밀번호 확인</label>
          <div class="control">
            <input
              class="input"
              id="confirmNewPasswordInput"
              type="password"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="emailInput">전화번호</label>
          <div class="control">
            <input class="input" id="telInput" type="tel" autocomplete="on" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="emailInput">주소</label>
          <div class="control">
            <input
              class="input"
              id="addressInput"
              type="text"
              autocomplete="on"
            />
          </div>
        </div>

        <button class="button is-info is-fullwidth" id="submitButton">
          개인 정보 수정
        </button>
      </form>
    </div>
    <script src="mypage.js" type="module" defer></script>
  </body>
</html>
