<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-mypage</title>

    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="mypage.css" />
  </head>
    <!-- 회원정보관리 폼(Form) -->
    <div class="edit-user-form-container">
      <form class="box edit-user-form-box" id="editUserForm">
        <p class="title is-5 has-text-dark">
          회원정보 수정
        </p>
        <div class="field">
          <label class="label" for="fullNameInput">이름</label>
          <div class="control">
            <input
              class="input"
              id="fullNameInput"
              type="text"
              placeholder="김캠핑"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="emailInput">이메일</label>
          <div class="control">
            <input
              class="input"
              id="emailInput"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="passwordInput">기존 비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="passwordInput">새 비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
            <p class="help">비밀번호는 4글자 이상 입력해주세요.</p>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordConfirmInput"
            >새 비밀번호 확인</label
          >
          <div class="control">
            <input
              class="input"
              id="passwordConfirmInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="phonenumberInput">전화번호</label>
          <div class="control">
            <input
              class="input"
              id="telInput"
              type="tel"
              autocomplete="on"
              placeholder="010-1234-5678"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="addressInput">주소</label>
          <div class="control">
            <input
              class="input"
              id="userPost"
              type="text"
              autocomplete="on"
              placeholder="우편번호" 
              readonly onclick="findAddr()"
            />
            <input
              class="input"
              id="userAddress"
              type="text"
              autocomplete="on"
              placeholder="주소" 
              readonly
            />
            <input
              class="input"
              id="userAddressDetail"
              type="text"
              autocomplete="on"
              placeholder="상세주소" 
            />
          </div>
        </div>
        <button class="button is-dark is-fullwidth" id="submitButton">
          정보수정
        </button>
      </form>
    </div>

  <!-- 주소 찾기 Api -->
    <script>
      function findAddr(){
        new daum.Postcode({
          oncomplete: function(data){
            const roadAddr = data.roadAddress;
            const jibunAddr = data.jibunAddress;
            document.getElementById('userPost').value = data.zonecode;
            if(roadAddr !== ''){
              document.getElementById('userAddress').value = roadAddr;
            } else if(jibunAddr !== ''){
              document.getElementById('userAddress').value = jibunAddr
            }
          }
        }).open();
      }
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="mypage.js" type="module" defer></script>
  </body>
</html>
