<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-account</title>
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account.css" />
  </head>

  <body>
    <!-- 헤더 -->
    <nav id="insertNavBar">
      <div class="navbar">
        <div class="navbar-brand" id="insertMenu"></div>
        <div class="navBarItems navbar-end">
          <ul id="insertItem" style="margin: 0"></ul>
        </div>
      </div>
    </nav>

    <div class="userSection"></div>
    <br /><br />
    <div class="managerSection"></div>
    
    <div id="image-modal" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">회원 탈퇴</p>
          </header>
          <section class="modal-card-body">
            <div class="content">
              삭제된 계정의 정보는 복구 될 수 없습니다. 다시 한번 확인해주시고, 탈퇴 진행을 원하시면 비밀번호를 입력하신 뒤 회원 탈퇴 버튼을 눌러주세요.
            </div>
            <!-- Content ... -->
            <label class="label" for="deletePassword">비밀번호 확인</label>
            <input class="input is-primary" id="deletePassword" type="password">
          </section>
          <footer class="modal-card-foot">
            <button class="button is-danger" id="deleteUserBtn">회원탈퇴</button>
            <button class="button" id="image-modal-close">취소</button>
          </footer>
        </div>
      </div>
    </div>


    <script src="account.js" type="module" defer></script>
  </body>
</html>
