<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-account</title>
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account.css" />
  </head>

  <body>
    <!-- 헤더 -->
    <nav id="insertNavBar">
      <div class="navbar">
        <div class="navbar-brand" id="insertMenu"></div>
        <div class="navBarItems navbar-end">
          <ul id="insertItem" style="margin: 0"></ul>
        </div>
      </div>
    </nav>

    <div class="userSection"></div>
    <br /><br />
    <div class="managerSection"></div>

    <script src="account.js" type="module" defer></script>
  </body>
</html>
