/* 이미지 관련 CSS */

.image img {
    display: block;
    height: auto;
    width: 100%;
}

/* 제품 설명 관련 CSS */
.product-detail-card .box {
    box-shadow: none;
    max-width: 100%;
}

.detail-description {
    margin-top: 2rem;
    white-space: pre-line;
}

/* 버튼 관련 CSS */

.buttons-container {
    flex-grow: 0;
    padding-bottom: 0;
    padding-right: 0;
}

#submitDelButton {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#submitEditButton {
    padding-left: 0.75em;
    padding-right: 0.75em;
}