<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <link rel="stylesheet" href="sell.css">
    <script src="sell.js"></script>
    <!-- bulma css -->
    <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 폰트 어썸: 아이콘 -->
    <script
     defer
     src="https://kit.fontawesome.com/7630448495.js"
     crossorigin="anonymous"
    ></script>
</head>
<body>
  <!-- 헤더 -->
  <nav id="insertNavBar">
    <div class="navbar">
      <div class="navbar-brand">
        <a href="/" class="button is-dark is-inverted">
          <span>
            <i class="fas fa-solid fa-house" style="margin-right: 0.5rem;"></i>
          </span>
          <strong>홈</strong>
        </a>
        <a href="/category" class="button is-dark is-inverted">
          <strong>전체상품</strong>
        </a>
        <a href="/category" class="button is-dark is-inverted">
          <strong>텐트</strong>
        </a>
        <a href="/category" class="button is-dark is-inverted">
          <strong>램프</strong>
        </a>
        <a href="/category" class="button is-dark is-inverted">
          <strong>기타</strong>
        </a>
      </div>
    
      <div class="navBarItems navbar-end">
        <ul id="insertItem" style="margin:0">
          
        </ul>
      </div>
    </div>
  </nav>
  <hr>
      <!-- 제품 추가 폼(Form) -->
      <section class="section">
        <div class="container">
          <div class="block account-header">
            <h1 class="subtitle is-4">제품판매</h1>
          </div>
          <div class="register-product-form-container">
            <form class="box register-product-form-box" id="registerProductForm">
              <p class="title is-5 has-text-primary">제품을 판매해 보세요</p>
              <div class="field">
                <label class="label" for="titleInput">제품 이름</label>
                <div class="control">
                  <input
                    class="input"
                    id="titleInput"
                    type="text"
                    placeholder="기능성 텐트"
                    autocomplete="on"
                  />
                </div>
              </div>
  
              <div class="field">
                <label class="label" for="categorySelectBox">카테고리</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="categorySelectBox">
                      <option value="">카테고리를 선택해 주세요.</option>
                    </select>
                  </div>
                </div>
              </div>
  
              <div class="field">
                <label class="label" for="manufacturerInput">제조사</label>
                <div class="control">
                  <input
                    class="input"
                    id="manufacturerInput"
                    type="text"
                    placeholder="코오롱 스포츠"
                    autocomplete="on"
                  />
                </div>
              </div>
  
              <div class="field">
                <label class="label" for="shortDescriptionInput">요약 설명</label>
                <div class="control">
                  <textarea
                    class="textarea"
                    id="shortDescriptionInput"
                    rows="3"
                    placeholder="제품에 대한 1~2문장의 설명을 적어 주세요."
                    autocomplete="on"
                  ></textarea>
                </div>
              </div>
  
              <div class="field">
                <label class="label" for="detailDescriptionInput"
                  >상세 설명</label
                >
                <div class="control">
                  <textarea
                    class="textarea"
                    id="detailDescriptionInput"
                    rows="8"
                    placeholder="제품에 대한 상세 설명을 적어 주세요."
                    autocomplete="on"
                  ></textarea>
                </div>
              </div>
  
              <div class="field is-fullwidth">
                <label class="label" for="imageInput">제품 사진</label>
                <div class="file has-name is-fullwidth">
                  <label class="file-label">
                    <input
                      class="file-input"
                      id="imageInput"
                      type="file"
                      name="image-file"
                      accept=".png, .jpeg, .jpg"
                    />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label"> 사진 업로드 </span>
                    </span>
                    <span class="file-name" id="fileNameSpan">
                      사진파일 (png, jpg, jpeg)
                    </span>
                  </label>
                </div>
              </div>
  
              <div class="field">
                <label class="label" for="inventoryInput">재고</label>
                <div class="control">
                  <input
                    class="input"
                    id="inventoryInput"
                    type="number"
                    placeholder="10"
                    autocomplete="on"
                  />
                </div>
              </div>
  
              <div class="field">
                <label class="label" for="priceInput">가격</label>
                <div class="field">
                  <div class="control has-icons-right">
                    <input
                      class="input"
                      id="priceInput"
                      type="number"
                      placeholder="10000"
                      autocomplete="on"
                    />
                    <span class="icon is-small is-right"> 원 </span>
                  </div>
                </div>
              </div>
  
              <div
                class="field is-grouped is-grouped-multiline mt-3"
                id="keywordContainer"
              ></div>
  
              <div class="mt-5">
                <button class="button is-primary is-fullwidth" id="submitButton">
                  제품 판매하기
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
</body>
</html>