#topBtn {
    position: fixed;
    color: white;
    background-color: rgb(71, 70, 70);
    right: 20px;
    bottom: 20px;
    width: 36px;
    height: 32px;
    border-radius: 8px;
    border: none;
}

#topBtn:hover {
    cursor: pointer;
    background-color: rgb(148, 46, 46);
}