@media screen and (max-width: 1024px) {
  .navbar-end .navbar-item {
    text-align: center;
  }
}

.a11y-text-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.a11y-text-hidden:focus {
  overflow: inherit;
  position: inherit;
  clip: inherit;
  clip-path: inherit;
  width: inherit;
  margin: inherit;
  border: inherit;
  padding: inherit;
  white-space: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}

.item-name, .card-footer > button.card-footer-item {
  color: #181818;
}

.pay-info .column {
  text-align: center;
}

.pay-info .column button, .btn-search-zip-code{
  width: 100%;
}

.select, #phone-1 {
  width: 100%;
}

.btn-search-zip-code, .btn-buy,
.btn-search-zip-code:focus, .btn-buy:focus  {
  background-color: rgb(71, 70, 70);
  color: #fff;
}

.btn-search-zip-code:hover, .btn-buy:hover {
  background-color: rgb(148, 46, 46);
  color: #fff;
}