<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주문</title>

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/bc4bd911be.js" crossorigin="anonymous"></script>

  <!-- order.css -->
  <link rel="stylesheet" href="order.css">

</head>
<body>
  공사중...
  <script src="order.js"></script>
</body>
</html>