/* 스크롤 디자인 변경 */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 20px;
  box-shadow: inset -2px -2px 7px rgba(110, 110, 110, 0.822);
}

body::-webkit-scrollbar-track {
  background-color: #ededee;
  border-radius: 20px;
}

/* 이미지 CSS */
.product-item .image img {
  height: 200px;
}

/* 컨텐츠 CSS */
.product-item p.title {
  margin: 1rem 0;
}

.product-item p.description {
  font-size: 1.2rem;
}

.product-item p.price {
  font-size: 2rem;
  margin-top: 3.5rem;
}

.product-item {
  cursor: pointer;
}

.product-sort {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.sort-btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#topBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}