.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.navbar {
  padding: 8px 16px;
}

.navbar-brand {
  margin: 0;
  padding: 5px 0;
}

.login-form-container .input:focus {
  border-color: #383E56;
}

#kakao-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}